# Development mode (npm run dev)
# REMOTE_WEB_URL=http://localhost:3000
# NEXT_PUBLIC_API_URL=https://vokrug-sveta.shar-os.ru

# Production mode (npm start)
REMOTE_WEB_URL=https://vokrug-sveta.shar-os.ru
NEXT_PUBLIC_API_URL=https://vokrug-sveta.shar-os.ru
